/* 'about' page styles done by: Ryan Tan Jia Jun */



.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: solid grey 1px;
    margin: 50px;
}

.main{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: var(--primary-font);
    font-weight: bold;
    text-align: left;
    padding: 1.5rem;
}
.Image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


#mainimage {
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.typing{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font);
    font-size: 20px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: var(--secondary-font);
    font-size: 20px;
    padding-bottom: 20px ;
    margin-left: 3rem;
    margin-right: 3rem;
}



.Carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}



/* Responsive stuff */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        margin: 20px;
        padding: 10px;
    }

    .main {
        font-size: 30px;
        margin-left: 20px;
        text-align: center;
    }

    #mainimage {
        margin-left: 50px;
        margin-top: 10px;
        width: 200px;
    }

    .p {
        margin: 20px;
        font-size: 18px;
        text-align: justify;
    }
}

@media (max-width: 480px) {
    .main {
        font-size: 24px;
        margin-left: 10px;
    }

    .p {
        font-size: 16px;
        margin: 10px;
        text-align: justify;
    }
}