/* 'about' page styles done by: Ryan Tan Jia Jun */

.header{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-bottom: solid grey 1px;
    margin: 50px;
}

.main{
    font-size: 50px;
    font-family: var(--primary-font);
    font-weight: bold;
    text-align: left;
    margin-left: 50px;
}

#mainimage {
    margin-left: 50px;
}

.p{
    font-family: var(--secondary-font);
    margin: 50px;
    font-size: 20px;
    padding-bottom: 20px ;
}

/* Responsive stuff */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        margin: 20px;
        padding: 10px;
    }

    .main {
        font-size: 30px;
        margin-left: 20px;
        text-align: center;
    }

    #mainimage {
        margin-left: 50px;
        margin-top: 10px;
        width: 200px;
    }

    .p {
        margin: 20px;
        font-size: 18px;
        text-align: justify;
    }
}

@media (max-width: 480px) {
    .main {
        font-size: 24px;
        margin-left: 10px;
    }

    .p {
        font-size: 16px;
        margin: 10px;
        text-align: justify;
    }
}