.header {
    color: var(--secondary-color)
}
.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.subheader {
    color: var(--primary-font-color);
    font-family: var(--primary-font);
    text-align: center;
    padding-left: 10px;
    

}
/* Scoped styles for ul and li */
.list {
    padding-left: 50px;
    margin: 0 0 20px;
    list-style-type: disc; /* You can use circle, square, or none if needed */
}

.listItem {
    margin-bottom: 10px;
    line-height: 1.6; /* Improves readability */
    color: var(--primary-font-color); /* Matches the primary color */
}

