.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.title {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    display: block;
    margin: 0 auto 1.5rem;
}

.description {
    font-size: 1rem;
    text-align: justify;
    color: var(--primary-font-color);
}

.sectionHeader {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--primary-color);
    text-align: center;
    position: relative;
    margin: 3rem 0 2rem 0;
}

.generalInfo {
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin: 0.5rem 0;
}

.tags div {
    display: inline-block;
    background-color: var(--highlight-color);
    color: #ffffff;
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
    margin: 0.2rem;
    border-radius: 4px;
}

/* Ingredients styling */
.ingredients{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ingredients div{
    font-size: 1rem;
    padding: 0.6rem;
    border-bottom: 2px solid #e6e8e8;
    display: flex;
    align-items: center;
}

.ingredients div:last-child {
    border-bottom: none;
}

.ingredientItem{
    display: flex;
    align-items: baseline;
}

.ingredientNumber{
    min-width: 30px;
    text-align: right;
    margin-right: 20px;
    color: var(--primary-color);
    font-weight: bold;
}

.ingredientText{
    color: var(--primary-font-color);
    flex-grow: 1;
}

.nutritionalFacts {
    margin-top: 20px; 
}

.nutritionGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 10px; 
}

.nutritionItem {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    overflow: visible;
    padding: 10px;
    border: 1px solid #e0e0e0; 
    border-radius: 10px;
    transition: all 0.3s ease;
}

.nutritionInfo{
    display: flex;
    justify-content: space-between;
}

.nutritionLabel {
    font-weight: bold;
    color: var(--primary-color);
}

.nutritionValue {
    color: var(--primary-font-color);
    font-weight: 600;
}

.progressBar {
    width: 100%;
    height: 10px;
    background: #e0e0e0;
    border-radius: 3px;
    overflow: visible;
}
  
.progressFill {
    height: 100%;
    width: var(--progress-width);
    border-radius: 10px;
    transition: width 0.5s ease;
    position: relative;
}

.tooltip {
    position: absolute;
    top: -25px; 
    right: 0;
    transform: translateX(50%); 
    background: rgb(89, 89, 89, 0.85);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0; 
    transition: opacity 0.3s ease;
}
  
.nutritionItem:hover .tooltip {
    opacity: 1; 
}

.nutritionItem:hover{
    transform: translateY(-3px);
    border: 1px solid #959595; 
}

.timeSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem 0;
    align-items: stretch;
    width: 100%;
}

.timeCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 1.5rem;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    transition: all 0.3s ease;
    flex: 1 1 0; /* Allow shrinking to fit in one row */
    min-width: 0; 
    max-width: 50%;
    height: 100%;
}

.timeCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.timeCard:hover .icon {
    background-color: #e5f6f6;
}

.icon {
    object-fit: contain;
    border-radius: 50%;
}

.timeInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timeLabel {
    font-size: 0.9rem;
    color: var(--primary-font-color);
    font-weight: 500;
    text-transform: uppercase;
}

.timeValue {
    font-size: 1rem;
    color: #333;
    font-weight: 700;
}

/* Responsive Behavior */
@media (max-width: 768px) {
    .timeCard {
        flex: 1 1 auto; /* Adjust to fit */
    }
    .timeIcon{
        width: 30px;
        height: 30px;
    }
}


.steps {
    margin-top: 1.5rem;
}

.step-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: #f4f4f4;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.step-index {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--highlight-color);
    margin-right: 0.5rem;
}

.step-item span:last-child {
    flex: 1;
    font-size: 1rem;
}
