/* '404 not found' page styles done by: Ryan Low Chee Yang & Tan Jun Wei */

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;  
  padding: 20px;
  margin: 50px auto;
}

.message {
  text-align: center;  
  margin: 0 auto; 
  line-height: 1.5;  
  font-size: 18px;  
  padding: 0 20px;  
}

.image {
  width: 400px;
  height: 400px;
  object-fit: cover; 
  margin: 0 auto; 
}