.customDropdown {
    position: relative;
    width: 200px;
    font-family: Arial, sans-serif;
  }
  
  .selectedItem {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .selectedItem:hover {
    background-color: #f0f0f0;
  }
  
  .arrow {
    font-size: 12px;
  }
  
  .dropdownOptions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 10;
  }
  
  .option {
    padding: 10px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }
  