.navbar {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    flex-wrap: wrap; /* Enables wrapping for smaller screens */
}

.navlogo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navlogo h1 {
    color: white;
    font-size: 24px;
    margin: 0;
}

.navlogo img {
    border-radius: 50%;
}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap; /* Wrap links if necessary */
}

.navitem {
    display: flex;
    align-items: center;
    gap: 10px; /* Gap between icon and text */
    font-size: 20px;
    font-weight: 500;
    font-family: var(--primary-font);
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    margin: 5px;
    transition: all 0.3s ease;
    border: none;
}

.navitem:hover {
    background-color: #f1f1f1;
    color: #333;
    transform: translateY(-3px);
}


@media (max-width: 768px) {
    .navlogo h1 {
        font-size: 20px;
    }

    .navlinks {
        flex-direction: column; 
        align-items: flex-start;
        width: 100%; 
        padding: 0;
    }

    .navitem {
        justify-content: flex-start; 
        width: 100%;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .navlogo img {
        width: 30px;
        height: 30px;
    }

    .navitem {
        font-size: 14px;
        padding: 8px 15px;
    }
}
