.navbar {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Enables wrapping for smaller screens */
    padding: 0px 15px;
}

.navlogo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navlogo h1 {
    color: white;
    font-size: 24px;
    margin: 0;
}

.navlogo img {
    border-radius: 50%;
}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap; 
}

.navitem {
    display: flex;
    align-items: center;
    gap: 15px; /* Gap between icon and text */
    font-size: 20px;
    font-weight: 500;
    font-family: var(--primary-font);
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    margin: 5px;
    transition: all 0.4s ease;
    border: none;
    position: relative;
}

.navitem::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; /* Change to 'right: 0' for underline from the right */
    width: 0;
    height: 2px;
    background-color: #ffffff; 
    transition: width 0.3s ease;
}

.navitem:hover{
    transform: translateY(-2px);
}

.navitem:hover::after {
    width: 100%;
}


@media (max-width: 768px) {
    .navlogo h1 {
        font-size: 20px;
    }

    .navlinks {
        flex-direction: column; 
        align-items: flex-start;
        width: 100%; 
        padding: 0;
    }

    .navitem {
        justify-content: flex-start; 
        width: 100%;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .navlogo img {
        width: 30px;
        height: 30px;
    }

    .navitem {
        font-size: 14px;
        padding: 8px 15px;
    }
}
