.navbar {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    padding: 0px 15px;
    gap: 5vw;
}

.navlogo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navlogo h1 {
    color: white;
    font-size: 24px;
    margin: 0;
}

.navlogo img {
    border-radius: 50%;
}

.navlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap; 
    gap: 0.8vw;
}

.navitem {
    display: flex;
    align-items: center;
    gap: 10px; /* Gap between icon and text */
    font-size: 20px;
    font-weight: 500;
    font-family: var(--primary-font);
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    margin: 5px;
    transition: all 0.4s ease;
    border: none;
    position: relative;
}

.navitem::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; /* Change to 'right: 0' for underline from the right */
    width: 0;
    height: 2px;
    background-color: #ffffff; 
    transition: width 0.3s ease;
}

.navitem:hover{
    transform: translateY(-3px);
    cursor: pointer;
}

.navitem:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.hamburger:hover{
    transform: scale(1.1);
}

.hamburger svg{
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 25px;
    }

    .navbar {
        justify-content: space-between;
        padding: 10px 25px;
    }

    .navlinks {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #522685;
        padding: 10px 15px;
        border-radius: 5px;
        margin-right: 5px;
    }

    .navitem{
        font-size: 18px;
    }

    .navitem svg {
        font-size: 20px;
    }


    .show {
        display: flex;
    }
  
    .hamburger {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        gap: 4vw;
        padding: 10px 0px;
    }

    .navlinks{
        gap: 0.6vw;
    }

    .navitem svg {
        font-size: 15px;
    }

    .navlogo h1 {
        font-size: 20px;
    }

    .navitem {
        font-size: 18px;
        padding: 5px 8px;
        margin: 3px;
        gap: 5px;
    }
}




